<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="sell and buy high end clothing">
    <meta name="keywords" content="Clothing, High fashion, Fashion,">
    <meta name="author" content="Gilbert">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/LoginStyles.css">
    <title>Welcome Page</title>
</head>
<body>

<div class="login-container">
    <h2>Welcome to the Gilbert app!</h2>

    <div class="input-group">
        <a href="/loginPage" class="button-link">Login here</a>
    </div>

    <div class="input-group">
        <a href="/registerNewProfile" class="button-link">Register Account</a>
    </div>

    <div class="input-group">
        <a href="#" class="button-link">Login as a Guest</a>
    </div>
</div>

<footer>
    <p>Copyright &copy; 2025 Gilbert inc.</p>
</footer>
</body>

</html>